@mixin bodyColor($color, $dir:'dark') {
    background: $color;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    transition: background-color 1s linear;

    &.white {
        // background-color: white;
        @include bodyColor(white);
    }
    &.green {
        // background-color: white;
        @include bodyColor(green);
    }
    &.yellow {
        // background-color: white;
        @include bodyColor(yellow);
    }
    &.red {
        // background-color: white;
        @include bodyColor(red);
    }
}

#container {
    margin: 0 auto;
    width: 50%;
}