<div id="calculator">
    <div id="theResults">
        <div class="display">0</div>
        <span class="pr_abbv">S0</span><!-- spans are side-by-side -->
        <span class="pr_mid">0</span><!-- use pseudos for () -->
    </div>

    <div id="buttons">
        <btn class="btn"
            ng-repeat="btn in vm.buttons"
            ng-click="vm.updateVal(btn)"
            ng-bind-html="btn | buttonVal"
            ></btn>
        <!-- <a class="btn num">1</a>
        <a class="btn num">2</a>
        <a class="btn num">3</a>
        <a class="btn num">4</a>
        <a class="btn num">5</a>
        <a class="btn num">6</a>
        <a class="btn num">7</a>
        <a class="btn num">8</a>
        <a class="btn num">9</a>
        <a class="btn" id="backspace">&laquo;</a>
        <a class="btn num">0</a>
        <a class="btn" id="clear">C</a> -->
    </div><!-- End #buttons -->
</div>