<div mvl-color-result class="color-result l-background"></div>

<div class="mvl-canvas">
    <h1 id="app-heading">
        Marvel Result Calculator
        <small>v2.1 (ng1x)</small>
    </h1>

    <div mvl-power-ranks></div>
    
    <div class="mvl-result-wrapper">
        <div data-NOOPmvl-rank-display class="display"><!-- this should be re-combined with the roll-result directive as some misc text output for the directive --></div>
        <div mvl-roll-result>marvel calculator</div>
    </div>
</div>