/*! ___START___ */
@mixin radialGrad($color) {
    // background-image: radial-gradient(ellipse at center, $color, darken($color, 20%));
    @include radial-gradient($color, darken($color, 20%));
}
%full_opacity {
    opacity: 1;
}

.color-result {
    position: fixed;
    right: 0;
    top: 0;
    @include size(100%);
}
.background {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 1s;
    width: 100%;

    &.bg_wht {
        opacity: 1;
        position: relative;

        @include radialGrad(#dfdfdf);
    }
    &.is-showing { opacity: 1; }
}
.bg_grn { @include radialGrad(#57f557); }
.bg_ylw { @include radialGrad(#D5D54D); }
.bg_red { @include radialGrad(#ff4646); }
/*! ___END___ */