@import 'extends';
@import 'mixins';

.background {
    transition: opacity 1s;

    &:not(.bg_wht) {
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        width: 100%;
        z-index: 1;
    }
    &.bg_wht {
        position: relative;

        @include radialGrad(#dfdfdf);
    }
    &.green .bg_grn  { @extend %full_opacity; }
    &.yellow .bg_ylw { @extend %full_opacity; }
    &.red .bg_red    { @extend %full_opacity; }
}
.bg_grn { @include radialGrad(#57f557); }
.bg_ylw { @include radialGrad(#D5D54D); }
.bg_red { @include radialGrad(#ff4646); }