// @import 'extends';
// @import 'mixins';

#power_ranks {
    background: rgba(white, 0.5);
    font-size: 1.1em;
    list-style: none;
    left: -180px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    transition: left 0.3s;
    width: 180px;

    @media screen and (min-width: 850px) {
        left: 0;
    }

    li {
        border: 1px solid;
        border-color: #eee transparent #aaa;
        cursor: pointer;
        padding: 0.25em 1em;
        transition: background-color $transition-short;

        &:hover {
            background-color: rgba(white, 0.5);
        }
    }

}
.pr_toggle {
    background-color: rgba(white, 0.75);
    border-radius: 0.25em 0.25em 0 0;
    cursor: pointer;
    font-size: 1.2em;
    left: -2.8em;
    padding: 0.5em 1em;
    position: absolute;
    top: 7em;
    transform: rotate(90deg);
    transition: left 0.3s;

    @media screen and (min-width: 850px) {
        left: 6.55em;
    }
}